@model Ystadbryggeriet.Models.CalendarEvent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CalendarEvent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAllDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAllDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CalendarEventId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
