@using Ystadbryggeriet.Models
@model LoginViewModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bryggeriet</title>

    <!-- Default Styles (DO NOT TOUCH) -->
    <style>       
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="lib/js/html5shiv.js"></script>
     <script src="lib/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Logga in</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                    }
                </section>
            </div>

    <!-- Default JS (DO NOT TOUCH) -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="~/Content/lib/js/bootstrap.min.js"></script>

    <!-- Adjustable JS -->
    <script src="~/Content/lib/js/icheck.js"></script>
    <script>
        $(document).ready(function () {
            $('.flat-checkbox').iCheck({
                checkboxClass: 'icheckbox_flat-purple',
                radioClass: 'iradio_flat-purple'
            });
        });

        function bgSwitch(which) {
            bgReset();
            if (which == 1) { $(document.body).css('background-image', 'url(lib/img/bg1.jpg)'); $('.bg-1').addClass('active'); }
            if (which == 2) { $(document.body).css('background-image', 'url(lib/img/bg2.jpg)'); $('.bg-2').addClass('active'); }
            if (which == 3) { $(document.body).css('background-image', 'url(lib/img/bg3.jpg)'); $('.bg-3').addClass('active'); }
            if (which == 4) { $(document.body).css('background-image', 'url(lib/img/bg4.jpg)'); $('.bg-4').addClass('active'); }
            if (which == 5) { $(document.body).css('background-image', 'url(lib/img/bg5.jpg)'); $('.bg-5').addClass('active'); }
        }

        function bgReset() {
            $('.bg-1').removeClass('active');
            $('.bg-2').removeClass('active');
            $('.bg-3').removeClass('active');
            $('.bg-4').removeClass('active');
            $('.bg-5').removeClass('active');
        }

    </script>
</body>
</html>