@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bryggeriet</title>

    <!-- Default Styles (DO NOT TOUCH) -->
    <link href="~/Content/lib/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/lib/css/fonts.css">
    <link rel="stylesheet" href="~/Content/lib/css/soft-admin.css" />

    <!-- Adjustable Styles -->
    <link type="text/css" rel="stylesheet" href="~/Content/lib/css/morris.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/lib/css/colorbox.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/lib/css/icheck.css">
    <link type="text/css" rel="stylesheet" href="~/Content/lib/css/fullcalendar.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/lib/css/fullcalendar.print.css" />
    <link rel="stylesheet" href="~/Content/lib/css/soft-theme-dark.css" />
    <!-- ADDITIONAL THEMES
    <link rel="stylesheet" href="lib/css/soft-theme-ocean.css"/> // SIMPLE OCEAN THEME
    <link rel="stylesheet" href="lib/css/soft-theme-dark.css"/> // DARK THEME
    <link rel="stylesheet" href="lib/css/soft-theme-blue.css"/> // BLUE THEME
    <link rel="stylesheet" href="lib/css/soft-theme-light.css"/> // LIGHT THEME
    <link rel="stylesheet" href="lib/css/soft-theme-fixed.css"/> // AFFIXES YOUR SIDEBAR AND NAVIGATION
    -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="lib/js/html5shiv.js"></script>
     <script src="lib/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="cntnr">

        <!-- RESPONSIVE LEFT SIDEBAR & LOGO -->
        <div class="left hidden-xs">
            <div class="logo"><img id="logo" src="~/Content/lib/img/logo3.png" style="width:159px !important; height:52px; !important"></div>
            <div class="sidebar">
                <div>
                    <input class="typeahead" type="text" placeholder="Search">
                    <span id="search-icon" class="glyphicon glyphicon-search"></span>
                </div>
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn btn-default active" href="@Url.Action("Index", "home")">
                                <span class="fa fa-dashboard"></span>
                                &nbsp;&nbsp;Dashboard
                            </a>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn btn-default" href="@Url.Action("gallery","Home")">
                                <span class="fa fa-picture-o"></span>
                                &nbsp;&nbsp;Gallery
                            </a>
                        </div>
                    </div>
                   @if (User.IsInRole("Admin"))
                   {

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn sbtn-default" data-toggle="collapse" href="#c-forms">
                                <span class="fa fa-pencil-square-o"></span>
                                &nbsp;&nbsp;Administrera
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div id="c-forms" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="@Url.Action("Index", "happenings")" class="sbtn sbtn-default">Händelser</a>
                                <a href="@Url.Action("Index", "Page")" class="sbtn sbtn-default">Information/Menyer</a>
                                <a href="@Url.Action("create", "CalendarEvents")" class="sbtn sbtn-default">Schema</a>
                                <a href="@Url.Action("admin", "Account")" class="sbtn sbtn-default">Användartyp</a>

                            </div>
                        </div>
                    </div>
                    }
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn btn-default" data-toggle="collapse" href="#c-tables">
                                <span class="fa fa-table"></span>
                                &nbsp;&nbsp;Prov
                                <span class="caret"></span>
                            </a>
                        </div>
                        <div id="c-tables" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <a href="@Url.Action("prov", "tests")" class="sbtn sbtn-default">Öl prov <span class="label label-soft"></span></a>
                                <a href="table_datatables.html" class="sbtn sbtn-default">Vin prov</a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="sbtn btn-default" href="@Url.Action("Index", "CalendarEvents")">
                                <span class="fa fa-calendar"></span>
                                &nbsp;&nbsp;Schema
                            </a>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <!-- END LEFT SIDEBAR & LOGO -->
        <!-- RESPONSIVE NAVIGATION -->
        <div id="secondary" class="btn-group visible-xs">
            <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown"><span class="icon icon-th-large"></span>&nbsp;&nbsp;Navigation&nbsp;&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-info pull-right" role="menu">
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="#">Labels</a></li>
                <li><a href="#">Admin</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="charts.html">Charts</a></li>
                <li><a href="widgets.html">Widgets</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li class="dropdown-header">UI Elements</li>
                <li><a href="alerts_notifications.html">Alerts & Notifications</a></li>
                <li><a href="tabs_accordion.html">Tabs & Accordions</a></li>
                <li><a href="buttons.html">Buttons & Icons</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li class="dropdown-header">Forms</li>
                <li><a href="form_basic.html">Basic Form Elements</a></li>
                <li><a href="form_advanced.html">Advanced Form Elements</a></li>
                <li><a href="form_wysiwyg.html">WYSIWYG</a></li>
                <li><a href="form_validation.html">Form Validation</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li class="dropdown-header">Tables</li>
                <li><a href="form_basic.html">Static Tables</a></li>
                <li><a href="form_advanced.html">jQuery Datatables</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li><a href="storyboard.html">Storyboard</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="maps.html">Maps</a></li>
                <li class="divider" style="border-bottom:1px solid #ddd; margin:0px; margin-top:5px;"></li>
                <li class="dropdown-header">Pages</li>
                <li><a href="login.html">Login</a></li>
                <li><a href="FAQ.html">F.A.Q.</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="grid.html">404 Error Template</a></li>
                <li><a href="invoice.html">Invoice</a></li>
            </ul>
        </div>

        <div id="secondary-search" class="input-icon visible-xs">
            <i class="icon icon-search"></i>
            <input class="form-control form-warning input-sm" type="text">
        </div>
        <!-- END RESPONSIVE NAVIGATION -->
        <!-- RIGHT NAV, CRUMBS, & CONTENT -->
        <div class="right">

            <div class="nav">
                <div class="bar">

                    <!-- RESPONSIVE SMALL LOGO (HIDDEN BY DEFAULT) -->
                    <div class="logo-small visible-xs"><img src="~/Content/lib/img/logo3.png"></div>

                    <!-- NAV PILLS -->
                    <ul class="nav nav-pills hidden-xs">
                        <li class="active"><a href="@Url.Action("Index", "Home")"><span class="fa fa-dashboard"></span>Dashboard</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                        <li><a href="#">Admin</a></li>
                        }
                       else 
                        {<li><a href="#">Anställd</a></li>}                    
                    </ul>

                    <!-- ICON DROPDOWNS -->
                    <br>
                    <div class="hov">                     
                        <div class="btn-group">
                            <a class="con" href="" data-toggle="dropdown"><span class="icon icon-envelope"></span><span class="label label-success">@ViewBag.unread</span></a>
                            <ul class="dropdown-menu pull-right dropdown-messages" role="menu">
                                <li class="title"><span class="icon icon-envelope"></span>&nbsp;&nbsp;Du har nya meddelanden</li>

                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", "Messages")">Visa alla meddelanden</a></li>
                            </ul>
                        </div>
                        
                        <div class="btn-group">
                            <a class="con" href="" data-toggle="dropdown"><span class="icon icon-user"></span><span class="label label-primary"></span></a>
                            <ul class="dropdown-menu pull-right dropdown-profile" role="menu">
                                <li class="title"><span class="icon icon-user"></span> @User.Identity.GetUserName()</li>
                                <li><a href="@Url.Action("index", "Manage")"><span class="fa fa-gears"></span>Inställningar</a></li>
                                <li><a href="@Url.Action("index","Messages")"><span class="icon icon-envelope"></span>Messages</a></li>
                                <li class="divider"></li>
                         @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "dropdown-profile" }))
                                {
                                @Html.AntiForgeryToken()
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class=" fa fa-power-off"></span>Log off</a></li>
                                }
                            }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- BREADCRUMBS -->
                <div class="crumbs">
                    <ol class="breadcrumb hidden-xs">
                        <li><i class="fa fa-home"></i> <a href="@Url.Action("index", "home")">Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>

            <!-- BEGIN PAGE CONTENT -->
            @RenderBody()
            <!-- END NAV, CRUMBS, & CONTENT -->
        </div>
  </div>
    <!-- Default JS (DO NOT TOUCH) -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="~/Content/lib/js/fullcalendar.min.js"></script>
    <script src="~/Content/lib/js/moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="~/Content/lib/js/bootstrap.min.js"></script>
    <script src="~/Content/lib/js/hogan.min.js"></script>
    <script src="~/Content/lib/js/typeahead.min.js"></script>
    <script src="~/Content/lib/js/typeahead-example.js"></script>

    <!-- Adjustable JS -->
    <script src="~/Content/lib/js/soft-widgets.js"></script>
    <script src="~/Content/lib/js/flot/jquery.flot.js"></script>
    <script src="~/Content/lib/js/flot/jquery.flot.selection.js"></script>
    <script src="~/Content/lib/js/icheck.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJEVoE5Ix-7HPh0OJWDLV0LgnaFAVslmE&sensor=true"></script>
    <script>
   
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>